.vagrant
.project
.settings/
target
trash
.idea
/*/.idea
/*/*.iml
*.iml
*.lock
/*/bin
/*/.idea
/*/.settings
/*/bin
/*/target
/*/trash
/*/.classpath
/*/.project
/*/.springBeans
/*/.checkstyle
/*/.externalToolBuilders
/*/logs
/*/*/logs
/*/*.log
**/generated-java
database/database.iml
parent.iml
parent.ipr
parent.iws
target/
/logs
core/src/main/generated-java/
webapp/hsqldb/*
core/hsqldb/*
